{% extends 'base.html.twig' %}

{% block title %}La boutique française - Modifier mon mot de passe{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
        <hr>
    {%if notification %}
    <div class="alert alert-info">{{ notification }}</div>
    {% endif %}

        {{ form(changePasswordForm) }}

        <hr>

    <button id="btn-retour-modif-mdp" class="btn btn-primary text-decoration-none" type="button"><a href="{{ path('app_account') }}" >Retour</a></button>


{% endblock %}
